name: Greeting
on: [push, workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: "Greeting user"
              run: |
                  echo "Hello, world!"
                  echo "code clone"
                  echo "${{github}}"
                  git clone https://github.com/${{github.repository}}.git
