name: Greeting
# on: [push, workflow_dispatch]
on:
    push:
        branches:
            - main
        paths-ignore:
            - "./github/workflows/*" #if any changes in this folder it can ignore .

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: get code
              uses: actions/checkout@v5

            #   run:
            #       echo "Hello, world!"
            #       echo "code clone"
            #       echo "${{github}}"
            #       git clone https://github.com/${{github.repository}}.git
            - name: Install node 20
              uses: actions/setup-node@v6
              with:
                  node-version: 20
            - name: install cache dependencies # it use for caching . like when install dependency caching can store that and it use next job like deploy our cases
              uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }} #basically it generate a unic key value.
            - name: print node version
              run: node -v
            - name: Install Dependencies
              run: npm ci # like npm install
            - name: Run test
              run: npm run test # beacaus test is my script. you can check package.json

    deploy:
        needs: test #in there if test successfull is successfull after that then deploy run > first test run after that deploy run
        runs-on: ubuntu-latest
        steps:
            - name: get code
              uses: actions/checkout@v5
            - name: Install node 20
              uses: actions/setup-node@v6
              with:
                  node-version: 20
            - name: install cache dependencies # it use for caching . like when install dependency caching can store that and it use next job like deploy our cases
              uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
            - name: Install Dependencies
              run: npm ci # like npm install
            - name: Build the project
              run: npm run build # in there package.json havr build . when it build it give a disk folder
            - name: Deploy
              run: echo "Deploy successfull"
